@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-brand-black text-white antialiased selection:bg-brand-green/30 selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass-dark backdrop-blur-md border border-white/5;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-white/60;
  }
}
